*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* root */
    /* font-size: 10px; >> */
    // This defines what 1rem is
    font-size: 62.5%; /* since 16px initial value of browser */
    // 1rem = 10px; 10px/16px = 62.5%

    // This is Sass trick
    // These media queries will be apply on html
    // Easily just nest to specific ones

    // Anyway will use @mixin
    // For better maintainance

    /*
    @media (max-width: 600px) {
        font-size: 50%;
    }

    @media (max-width: 900px) {
        font-size: 50%;
    }
    */

    // usage 1
    // @include respond-phone {
    //     font-size: 50%;
    // }

    // better usage ( And order is matter )
    @include respond(tab-land) {
        font-size: 56.25%; // 1rem = 9px; 9px/16px = 56.25%
    }
    @include respond(tab-port) {
        font-size: 50%; // 1rem = 8px; 8px/16px = 50%
    }
    // @include respond(phone) {
    //     font-size: 50%; // 1rem = 8px; 8px/16px = 50%
    // } //unnecessary

    @include respond(big-desktop) {
        // this is implementes with 'min-width'
        font-size: 75%; // 1rem = 12px; 12px/16px = 75%
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}
